<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />

		<title>FiveUI Prelude Reference</title>
		<meta name="generator" content="JsDoc Toolkit" />

		<style type="text/css">
    {+include("static/reset.css")+}
		{+include("static/default.css")+}
    {+include("static/style.css")+}
    {+include("static/preludeIntro.css")+}
		</style>
	</head>
	<body class="interior">
<!-- ============================== header ================================= -->	
		<!-- begin static/header.html -->
		    <header>
      <div class="wrap">
        <a href="http://galoisinc.github.com/FiveUI" id="logo" title="Galois Open Source"><img src="images/logo.png" alt="Galois" /></a>
        <h2>Open Source</h2>
        <nav id="primary">
          <ul>
            <li><a href="http://galois.com">Company website</a></li>
            <li><a href="https://github.com/GaloisInc/">Github home</a></li>
          </ul>
        </nav><!-- /#primary -->
      </div><!-- /.wrap -->
    </header>
		<!-- end static/header.html -->

       <section id="content">

		     <div id="index">
			     {+publish.classesIndex+}
		     </div>

		     <div class="wrap" id="content">
           {+include("static/preludeIntro.html")+}
		       <!-- <h1 class="classTitle">Class Index</h1> -->
		       <!-- <for each="thisClass" in="data"> -->
		       <!--   <div> -->
		       <!--     <h2>{+(new Link().toSymbol(thisClass.alias))+}</h2> -->
		       <!--     {+resolveLinks(summarize(thisClass.classDesc))+} -->
		       <!--   </div> -->
		       <!--   <hr /> -->
		       <!-- </for> -->
		     </div>

       </div><!-- /.wrap -->
    </section><!-- /#content -->

    <footer>
      <div class="wrap">
        <nav id="footer-nav">
          <ul>
            <li><a href="http://corp.galois.com/contact">Contact</a></li>
          </ul>
        </nav>

        <p>Copyright &copy; 2012 Galois, Inc. All rights reserved.</p>
      </div><!-- /.wrap -->
    </footer>
  </body>
</html>
